@import "tailwindcss";

@theme {
  --color-primary: #004aaa;
  --color-black: #000000;
  --color-gray-text: #6A6A6A;
  --color-gray-light: #DFDFDF;
  --color-white: #ffffff;
  --color-background: #EFEFEF;
  --font-special: 'Mochiy Pop One', sans-serif;
  --font-noto-sk: 'Noto Sans Kannada Variable', sans-serif;
}
