---
import ItemAbout from "./ItemAbout.astro";
import { Image } from "astro:assets";
import imageSrc from "../assets/capture.webp";
---

<section>
  <div
    class="flex py-[100px] w-max-[1440px] mx-auto flex-col items-center gap-y-[40px]"
  >
    <h2 class="text-3xl text-wrap font-not-sk font-bold text-center">
      ¿Qué es la Técnica Pomodoro?
    </h2>
    <p class="text-noto-sk text-xl text-gray-text">
      Un método efectivo para mejorar tu concentración y productividad
    </p>
    <div class="flex flex-row gap-x-[20px]">
      <div class="flex flex-col gap-y-[20px] justify-center">
        <ItemAbout
          iconName="timer"
          title="Trabaja con intervalos enfocados"
          description='Divide tu trabajo en intervalos de 25 minutos, llamados "Pomodoros", seguidos de breves descansos de 5 minutos.'
        />
        <ItemAbout
          iconName="coffee"
          title="Toma descansos regulares"
          description="Después de completar 4 Pomodoros, toma un descanso más largo de 15-30 minutos para rejuvenecer tu mente."
        />
        <ItemAbout
          iconName="check"
          title="Gestiona distracciones"
          description="Aprende a identificar distracciones y aplazarlas hasta tu próximo descanso, mejorando tu concentración."
        />
      </div>
      <div class="shadow-lg rounded-lg overflow-hidden">
        <Image
          src={imageSrc}
          alt="imagen de la plataforma tomatl pomodoro"
          width={600}
          height={400}
        />
      </div>
    </div>
  </div>
</section>

<style>
  body.darkTheme section {
    background-color: #000000;
  }
  body.darkTheme p {
    color: var(--color-gray-light);
  }
  body.darkTheme h2 {
    color: #ffffff;
  }
</style>
