---
import Button from "./Button.astro";
---

<section>
  <div
    class="flex py-[100px] w-max-[1440px] mx-auto flex-col items-center gap-y-[40px]"
  >
    <h1 class="text-5xl/20 text-wrap font-special w-[1000px] text-center">
      Maximiza tu productividad con 
      <span class="text-primary">Tomatl</span>
    </h1>
    <p class="text-noto-sk text-xl text-gray-text">
      Gestiona tu tiempo, registra tus tareas y analiza tu productividad con
      nuestra aplicación Pomodoro intuitiva.
    </p>
    <Button text="Comenzar gratis" px="px-[70px]" />
  </div>
</section>
<style>
  body.darkTheme section {
    background-color: #000000;
  }
  body.darkTheme h1 {
    color: #ffffff;
  }
  body.darkTheme p {
    color: var(--color-gray-light);
  }
</style>
