---
import Button from "./Button.astro";
---

<section>
  <div
    class="flex py-[100px] w-max-[1440px] mx-auto flex-col items-center gap-y-[40px]"
  >
    <h1 class="text-5xl/20 text-wrap font-special w-[1000px] text-center">
      Maximiza tu productividad con 
      <span class="text-primary">Tomatl</span>
    </h1>
    <p class="text-noto-sk text-xl text-gray-text">
      Gestiona tu tiempo, registra tus tareas y analiza tu productividad con
      nuestra aplicación Pomodoro intuitiva.
    </p>
    <Button text="Comenzar gratis" px="px-[70px]" href="/temporary" />
  </div>
</section>
<style>
  body.darkTheme section {
    background-color: #000000;
  }
  body.darkTheme h1 {
    color: #ffffff;
  }
  body.darkTheme p {
    color: var(--color-gray-light);
  }
  @media (max-width: 1228px) {
    section > div {
      width: 90%;
    }
    h1 {
      width: 600px;
      font-size: 30px;
      line-height: 40px;
      max-width: 95%;
    }
    p {
      width: 650px;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      max-width: 95%;
    }
  }
  section > div {
    animation: show 2s ease-in-out;
  }
  @keyframes show {
    0% {
      opacity: 0;
      transform: translateY(100px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
</style>
