---
const { text, px, href } = Astro.props;
---

<a
  class={`py-[13px] ${px ? px : "px-[40px]"} bg-primary rounded-full text-white font-medium cursor-pointer text-center btn`}
  href={href}
>
  {text}
</a>
<style>
  .btn {
    z-index: 1;
  }
  @media (max-width: 408px) {
    .btn {
      padding: 10px 15px !important;
      font-size: 14px !important;
    }
  }
</style>
