---
const { text, px, id, href } = Astro.props;
---

<a
  id={id}
  class={`py-[13px] ${px ? px : "px-[40px]"} rounded-full text-primary font-bold cursor-pointer border border-primary text-center text-noto-sk`}
  href={href}
>
  {text}
</a>

<style>
  body.darkTheme a {
    color: #ffffff;
  }
</style>
