---
import CardFeatures from "./CardFeatures.astro";
---

<section class="bg-[#004aaa10]">
  <div
    class="flex py-[100px] w-max-[1440px] mx-auto flex-col items-center gap-y-[40px]"
  >
    <h2 class="text-3xl text-wrap font-not-sk font-bold text-center">
      Características principales
    </h2>
    <p class="text-noto-sk text-xl text-gray-text">
      Todo lo que necesitas para maximizar tu productividad en una sola
      aplicación.
    </p>
    <div class="flex flex-row gap-x-[40px]">
      <CardFeatures
        iconName="clock"
        title="Gestiona tu tiempo"
        description="Configura los intervalos de trabajo y descanso según tus necesidades."
      />
      <CardFeatures
        iconName="list"
        title="Gestión de Tareas"
        description="Organiza y da seguimiento a tus tareas diarias de manera eficiente."
      />
      <CardFeatures
        iconName="chart"
        title="Análisis Detallado"
        description="Visualiza tus estadísticas de productividad con informes detallados."
      />
    </div>
  </div>
</section>

<style>
  body.darkTheme section {
    background-color: #000711;
  }
  body.darkTheme h2 {
    color: #ffffff;
  }
</style>
