---
import { Icon } from "astro-icon/components";

const year = new Date().getFullYear();
---


<footer class="">
    <div
      class="flex justify-between p-[20px] border-t-2 border-gray-200 w-max-[1440px] mx-auto"
    >
      <Icon name="logo" width="106" height="52" />
      <p class="my-auto text-gray-text">© {year} Tomatl. Todos los derechos reservados.</p>
    </div>
  </footer>