---
import Button from "./Button.astro";
import ButtonOutline from "./ButtonOutline.astro";
---

<section class="bg-[#004aaa10]">
  <div
    class="flex py-[100px] w-max-[1440px] mx-auto flex-col items-center gap-y-[40px]"
  >
    <h2 class="text-5xl text-wrap font-not-sk font-bold text-center">
      Alcanza tu máximo potencial
    </h2>
    <p
      class="text-noto-sk text-2xl text-gray-text max-w-[850px] text-wrap text-center"
    >
      Únete hoy a miles de usuarios que han mejorado su productividad y enfoque
      con PomodoroApp. Tu viaje hacia una mejor gestión del tiempo comienza
      ahora.
    </p>
    <div class="flex flex-row gap-[40px]">
      <Button text="Comenzar gratis" px="px-[70px]" />
      <ButtonOutline text="Ver planes" px="px-[70px]" />
    </div>
  </div>
</section>

<style>
  body.darkTheme section {
    background-color: #030e1e;
  }
  body.darkTheme p {
    color: var(--color-gray-light);
  }
  body.darkTheme h2 {
    color: #ffffff;
  }
  @media (max-width: 1024px) {
    section > div {
      width: 90%;
    }
  }
  @media (max-width: 768px) {
    section > div > div {
      flex-direction: column;
    }
  }
</style>
