---
import { Icon } from "astro-icon/components";

const { iconName, title, description } = Astro.props;
---

<div class="flex items-center justify-between gap-x-[10px]">
  <div class="p-[10px] rounded-full bg-[#004aaa25]">
    <Icon class="icon" name={iconName} width="24" height="24" />
  </div>
  <div class="flex flex-col gap-y-[10px] w-[500px]">
    <p class="text-noto-sk text-black text-xl font-bold">
      {title}
    </p>
    <p class="text-noto-sk text-gray-text text-wrap">
      {description}
    </p>
  </div>
</div>

<style>
  body.darkTheme p {
    color: var(--color-gray-light);
  }
  body.darkTheme div div p:first-of-type {
    color: #ffffff;
  }
  body.darkTheme div div:first-of-type {
    background-color: #ffffff25;
  }
  @media (max-width: 1228px) {
    div > div:nth-child(2) {
      width: 90%;
    }
  }
</style>
